.add-service form{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    }
    .add-service input {
        width: 70%;
        height: 45px;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    .add-service{
        background-color: black;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .add-service textarea{
        width: 70%;
        height: 100px;
        margin-bottom: 10px;
    }
    