.card-bg{
    box-shadow:3px 3px 10px gray;
    border-radius:10px;
    
    
}
.image-watch{
    /* border: 5px solid black; */
   
    
    background-color: black;
    margin-top: 20px;
    height: 150px;
}
