.about-p{
    text-align: justify;
 
}
.about-heading{
    padding-top: 20px;
    color: white;
    font-weight: bolder;
}
.about-image{
    box-shadow: 5px 5px 10px gray;
   margin-top: 40px;
   border-radius: 5px;
    
}